IO.Astrodynamics.Net/IO.Astrodynamics/CCSDS/Schema/ndmxml-4.0.0-master-4.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:ndm="urn:ccsds:schema:ndmxml"
            elementFormDefault="qualified" 
            attributeFormDefault="unqualified">

<!--********************************************************************-->
<!-- NOTE: This is version 4.0, Rev 0 of the NDM/XML Schema (11/06/2022.-->
<!-- If this schema changed in Rev 0, it is noted below, else no change.-->
<!--********************************************************************-->

<!--********************************************************************-->
<!-- NOTE: This is version 4.0 of the NDM/XML Schema (05/19/2023).      -->
<!-- This component of the schema is the "master" module, which         -->
<!-- imports the NDM/XML namespace and declares the principal elements  -->
<!-- of the schema set.  The validation of any NDM/XML element may be   -->
<!-- confirmed with this simple schema.                                 -->
<!--                                                                    -->
<!-- Compatible document versions are:                                  -->
<!--    NDM/XML 505.0-B-4   Blue Book (xx/2023)                         -->
<!--    ODM     502.0-B-3   Blue Book (05/2023)                         -->
<!--    ADM     504.0-B-2   Blue Book (07/2023)                         -->
<!--    TDM     503.0-B-2   Blue Book (06/2020)                         -->
<!--    CDM     508.0-B-1   Blue Book (06/2013)                         -->
<!--    RDM     508.1-B-1   Blue Book (11/2019)                         -->
<!--                                                                    -->
<!-- ********************** BLUE BOOK CHANGE LOG  ********************* -->
<!-- 03/14/2010: Original implemementation of schemas.                  -->
<!-- 01/08/2013  Rev 0: Updated for CDM                                 -->
<!-- 10/13/2017: Rev A: Modified to include revA common schemas.        -->
<!-- 08/29/2018: Rev B: Modified to remove revision version from file   -->
<!--                    names, since file names on SANA were static     -->
<!--                    and the schemas basically did not work.         -->
<!-- 09/03/2019: Rev C: Modified to import the namespace schema that    -->
<!--                    incorporates the RDM schema.                    -->
<!-- 05/17/2020: Rev D: Modified to import the namespace schema that    -->
<!--                    incorporates the TDM V.2 schema.                -->
<!-- 07/23/2020: 2.0.0: Updated for NDM/XML 2.0 changes (common, etc.)  -->
<!-- 07/03/2022: 3.0.0: Updated for NDM/XML 3.0 changes (common, ODM)   -->
<!-- 05/19/2023: 4.0.0: Updated for NDM/XML 4.0 changes (common, ADM)   -->
<!--********************************************************************-->
<!--********************************************************************-->
<!-- Import the applicable namespace                                    -->
<!--********************************************************************-->
<xsd:import namespace="urn:ccsds:schema:ndmxml" 
           schemaLocation="./ndmxml-4.0.0-namespace-4.0.xsd"/>
<!--********************************************************************-->
<!-- Element declarations for all element types contained in the NDM/XML-->
<!-- schemas: ndm, aem, apm, cdm, ocm, oem, omm, opm, rdm, tdm.         -->
<!--********************************************************************-->

   <xsd:element name="ndm" type="ndm:ndmType"/>
   <xsd:element name="acm" type="ndm:acmType"/>
   <xsd:element name="aem" type="ndm:aemType"/>
   <xsd:element name="apm" type="ndm:apmType"/>
   <xsd:element name="cdm" type="ndm:cdmType"/>
   <xsd:element name="ocm" type="ndm:ocmType"/>
   <xsd:element name="oem" type="ndm:oemType"/>
   <xsd:element name="omm" type="ndm:ommType"/>
   <xsd:element name="opm" type="ndm:opmType"/>
   <xsd:element name="rdm" type="ndm:rdmType"/>
   <xsd:element name="tdm" type="ndm:tdmType"/>

</xsd:schema>
