IO.Astrodynamics.Net/IO.Astrodynamics/CCSDS/Schema/ndmxml-4.0.0-aem-2.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:ndm="urn:ccsds:schema:ndmxml"
            targetNamespace="urn:ccsds:schema:ndmxml"
            elementFormDefault="qualified" 
            attributeFormDefault="unqualified">

<!--********************************************************************-->
<!-- NOTE: This is version 4.0, Rev 0 of the NDM/XML Schema (11/06/2022.-->
<!-- If this schema changed in Rev 0, it is noted below, else no change.-->
<!--********************************************************************-->

<!--********************************************************************-->
<!-- NOTE: This is version 4.0.0 of the NDM/XML Schema (05/2023).       -->
<!-- This component of the schema is the "AEM" module, which contains   -->
<!-- elements that are used exclusively in the Attitude Ephemeris       -->
<!-- Message (AEM).                                                     -->
<!--                                                                    -->
<!-- Compatible document versions are:                                  -->
<!--    ADM     504.0-B-2   Blue Book (To be published circa 07/2023)   -->
<!--                                                                    -->
<!-- *********************  BLUE BOOK CHANGE LOG  ********************* -->
<!-- 03/14/2010: Original implemementation of schemas.                  -->
<!-- 10/13/2017: Rev A: Modified to include revA common schemas.        -->
<!-- 08/29/2018: Rev B: Modified to remove revision version from file   -->
<!--                    names, since file names on SANA were static     -->
<!--                    and the schemas basically did not work.         -->
<!-- 07/23/2020: 2.0.0: Updated for NDM/XML 2.0 changes (common, etc.)  -->
<!-- 08/12/2021: 3.0.0: Updated for NDM/XML 3.0 changes (common, etc.)  -->
<!-- 12/04/2022: 4.0.0: Updated for NDM/XML 4.0 changes (common, etc.)  -->
<!-- 05/19/2023: 4.0.0: Preparations for ADM B-2 publication            -->
<!--********************************************************************-->
<!--********************************************************************-->
<!-- Include schema containing common data types, etc.                  -->
<!--********************************************************************-->
<xsd:include schemaLocation="./ndmxml-4.0.0-common-4.0.xsd"/>
<!--********************************************************************-->

<!--********************************************************************-->
<!-- An AEM consists of a "header" and a "body".  The header is a       -->
<!-- construct that is shared by all NDM's, found in the "common" schema-->
<!--********************************************************************-->

<xsd:complexType name="aemType">
   <xsd:sequence>
      <xsd:element name="header" type="ndm:admHeader"/>
      <xsd:element name="body" type="ndm:aemBody"/>
   </xsd:sequence>
   <xsd:attribute  name="id"       use="required"  fixed="CCSDS_AEM_VERS"/>
   <xsd:attribute  name="version"  use="required"  fixed="2.0"/>
</xsd:complexType>


<!--********************************************************************-->
<!-- The AEM "body" consists of 1 or more "segments", described below.  -->
<!--********************************************************************-->

<xsd:complexType name="aemBody">
   <xsd:sequence>
      <xsd:element name="segment" type="ndm:aemSegment" 
         minOccurs="1" maxOccurs="unbounded"/>
   </xsd:sequence>
</xsd:complexType>


<!--********************************************************************-->
<!-- The AEM "segment" consists of a "metadata" section and a "data"    -->
<!-- section.  The segment construct is shown in Table 4-1 of ADM, but  -->
<!-- is not explicitly stated in the text.  The segment construct is    -->
<!-- required in order to enforce the ordering and correspondence of    -->
<!-- metadata sections and data sections that is described in the ADM.  -->
<!--********************************************************************-->  

<xsd:complexType name="aemSegment">
   <xsd:sequence>
      <xsd:element name="metadata" type="ndm:aemMetadata"/>
      <xsd:element name="data" type="ndm:aemData"/>
   </xsd:sequence>
</xsd:complexType>


<!--********************************************************************-->
<!-- AEM Metadata Section                                               -->
<!--********************************************************************-->

<xsd:complexType name="aemMetadata">
   <xsd:sequence>
      <xsd:element name="COMMENT" type="xsd:string" 
         minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="OBJECT_NAME" type="xsd:string"/>
      <xsd:element name="OBJECT_ID" type="xsd:string"/>
      <xsd:element name="CENTER_NAME" type="xsd:string" minOccurs="0"/>
      <xsd:element name="REF_FRAME_A" type="xsd:string"/>
      <xsd:element name="REF_FRAME_B" type="xsd:string"/>
      <xsd:element name="TIME_SYSTEM" type="ndm:timeSystemType"/>
      <xsd:element name="START_TIME"  type="ndm:epochType"/>
      <xsd:element name="USEABLE_START_TIME" type="ndm:epochType" minOccurs="0"/>
      <xsd:element name="USEABLE_STOP_TIME"  type="ndm:epochType" minOccurs="0"/>
      <xsd:element name="STOP_TIME"   type="ndm:epochType"/>
      <xsd:element name="ATTITUDE_TYPE" type="ndm:attitudeTypeType"/>
      <xsd:element name="EULER_ROT_SEQ" type="ndm:rotseqType" minOccurs="0"/>
      <xsd:element name="ANGVEL_FRAME" type="ndm:angVelFrameType" minOccurs="0"/>
      <xsd:element name="INTERPOLATION_METHOD" type="xsd:string"
         minOccurs="0"/>
       <xsd:element name="INTERPOLATION_DEGREE" type="xsd:positiveInteger"
         minOccurs="0"/>
   </xsd:sequence>
</xsd:complexType>


<!--********************************************************************-->
<!-- AEM Data Section                                                   -->
<!--********************************************************************-->

<xsd:complexType name="aemData">
   <xsd:sequence>
      <xsd:element name="COMMENT" type="xsd:string" 
         minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="attitudeState" type="ndm:attitudeStateType" 
         minOccurs="1" maxOccurs="unbounded"/>
   </xsd:sequence>
</xsd:complexType>


</xsd:schema>
